.add-fav {
  height: 20px;
  padding: 2px 6px;
  background-color: #DCF2F0;
  border: thin solid #025951;
  border-radius: 0 10px 0 10px;
}

.add-fav:hover {
  background-color: #A6864B;
}

.expanded-main button {
  margin: 0 auto;
  margin: 20px 0;
}

.expanded-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.make-div {
  width: 100%;
}

.recipe-expanded {
  border: 1px solid #025951;
  background-color: #067368;
  border-radius: 0 10px;
  margin: 30px 10px;
  width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.recipe-name-icon-div {
  border-top: 1px solid #DCF2F0;
  border-bottom: 1px solid #DCF2F0;
  border-radius: 5px;
  margin: 10px auto;
  padding: 0 10px;
  text-align: center;
  color: #DCF2F0;
}

.recipe-name-icon-div h2 {
  font-size: 30px;
  align-self: center;
}

.recipe-specs-make-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #DCF2F0;
  font-size: 20px;
  font-weight: 600;
}

.remove {
  height: 20px;
  /* width: 100px; */
  padding: 2px 6px;
  background-color: #DCF2F0;
  border: thin solid #025951;
  border-radius: 0 10px 0 10px;
}

.remove:hover {
  background-color: #F21B07;
  cursor: pointer;
}

.specs-div {
  border-bottom: 1px solid #DCF2F0;
  width: 70%;
  margin: 0 auto;
}

.specs-div h3 {
  font-size: 24px;
}