.expanded-main button {
  margin: 0 auto;
  margin: 20px 0;
}

.expanded-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.make-div {
  width: 80%;
}

.make-div .checkbox {
  float: right;
}

.recipe-expanded {
  border: 1px solid black;
  margin: 0 10px;
  width: 350px;
  padding: 10px;
}

.recipe-expanded .img {
  border: 1px dashed grey;
  width: 120px;
  height: 120px;
}

.recipe-name-icon-div{
  display: flex;
  justify-content: space-between;
}

.recipe-name-icon-div h2 {
  font-size: 30px;
  align-self: center;
  margin-right: 12%;
}

.recipe-specs-make-div {
  display: flex;
  width: 100%;
}

.specs-div h3 {
  font-size: 16px;
}