* {
  box-sizing: border-box;
}

.add-recipe-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.add-recipe-form {
  border: 1px solid #025951;
  background-color: #A6864B;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
}

.add-recipe-form input {
  width: 100%;
  border-radius: 0 10px 0 10px;
  border: thin solid #025951;
  padding: 2px 10px;
}

.icon-select {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: #025951;
}

.icon-select input {
  width: 20px;
}

.ingList {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  max-height: 100px;
  max-width: 100%;

}

.ingList li button {
  float: right;
  margin-right: 20px;
}

#prep {
  width: 100%;
  height: 200px;
}

.recipe-add-alert {
  color: #067368;
  font-weight: 600;
  font-size: 20px;
  padding: 3px;
  border-radius: 5px;
  border-bottom: 1px solid #067368;
  border-top: 1px solid #067368;
}

.recipe-select-button-div {
  width: 100%;
  padding-top: 10px;
}

.recipe-select-button-div label {
  padding-right: 5px;
}

.recipe-select-button-div button {
  float: right;
  height: 20px;
  width: 100px;
  padding: 2px 6px;
  background-color: #DCF2F0;
  border: thin solid #025951;
  border-radius: 10px 0 10px 0;
}

.recipe-select-button-div button:hover {
  background-color: #025951;
  color: #DCF2F0;
  cursor: pointer;
}

/* .go-back {
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #067368;
  color: #DCF2F0;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Josefin Slab', serif;
  cursor: pointer;
}

.go-back:hover {
  background-color: #025951;
} */